body {
    width: 100vh;
    max-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
}

nav {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    cursor: pointer;
    list-style: none;
    width: 85%;
}

a {
    color: #111111;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    justify-content: space-around;
    align-items: center;
    min-width: 120px;
}

nav ul li a:hover {
    transition: 0.4s ease;
    color: #4A4FF2;
}

.first {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.shooting-stars {
    max-width: 120px;
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #4A4FF2;
    transform: translateY(20px);
}

.hello {
    max-width: 525px;
}

.product-designer {
    color: #4A4FF2;
}

.design {
    align-self: flex-end;
    font-size: 10px;
    transform: translate(-70px, -60px);
}

.p-design {
    font-style: italic;
}

.projects {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 30px;
    margin-top: 40px;
    max-height: 150px;
}

.big-content {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 7;
}

.service {
    min-width: 125px;
    min-height: 50px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
    color: #11111170;
}

.s1 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 8;
    grid-column-end: 9;
}

.s2 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 11;
}










footer {
    min-width: 100%;
    min-height: 8rem;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-end;
}


.f-logo {
    cursor: pointer;
    list-style: none;
    width: 80%;
    transform: translateY(-10px);
}

.f-right {
    display: flex;
}

.f-nav {
    display: flex;
    min-width: 300px;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    justify-content: space-evenly;
}

.f-nav li a:hover {
    transition: 0.4s ease;
    color: #4A4FF2;
}

.brands {
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content: space-evenly;
    cursor: pointer;
}
