body {
    width: 100vh;
    max-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
}

/* NAV */

nav {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    cursor: pointer;
    list-style: none;
    width: 85%;
}

a {
    color: #111111;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    justify-content: space-around;
    align-items: center;
    min-width: 120px;
}

nav ul li a:hover {
    transition: 0.4s ease;
    color: #4A4FF2;
}

/* END OF NAV */

.grid-section {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
    margin: 40px 0px 50px;
    max-height: 300px;
}

.grid-text {
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 6;
}

.grid-item {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-template-columns: repeat(2, 1fr);
}

.grey {
    transform: translateX(30px);
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: #1111117c;
}

.black {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: #111111;
}

h2 {
    line-height: 15px;
}

.contact-text {
    font-size: 15px;
    line-height: 20px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 25px;
}

.proj-img {
    width: 100%;
}

.three-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.picture {
    margin-top: 30px;
    width: 32%;
}


/* FOOTER */

footer {
    min-width: 100%;
    min-height: 8rem;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-end;
}


.f-logo {
    cursor: pointer;
    list-style: none;
    width: 80%;
    transform: translateY(-10px);
}

.f-right {
    display: flex;
}

.f-nav {
    display: flex;
    min-width: 300px;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    justify-content: space-evenly;
}

.f-nav li a:hover {
    transition: 0.4s ease;
    color: #4A4FF2;
}

.brands {
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content: space-evenly;
    cursor: pointer;
}
